@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');

:root {
    --white: #FFFFFF;
    --oswald: 'Oswald';
    --shadow: #754E71;
    --light-blue: #99BFFD;
    --light-blue2: #324362;
    --grey: #5F5B5A;
    --light-green: #00687D;
    --dark-pink: #76124C;
    --dark-yellow: #8F4005;
    --dark-yellow2: #5A3A16;
}


.nav-container {
    height: 67px;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(69, 33, 138, .7));
    position: fixed;
    z-index: 9;
    width: 100%;
    border-bottom: 2px solid var(--white);
}

nav {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.logo img {
    width: 220px;
    height: 35px;
    margin-top: 15px;
    cursor: pointer;
}

nav ul {
    list-style: none;
    display: flex;
    margin-top: 19px;
    transition: transform 0.3s ease-in-out;
}

nav li:hover {
    transform: scale(1.5) rotate(-2deg);
}

nav a:hover {
    color: rgb(206, 96, 22);
}

nav a {
    text-decoration: none;
    padding-right: 30px;
    padding-left: 30px;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    font-family: var(--oswald);
}

#btn-mobile {
    display: none;
}

.top-container {
    height: 1080px;
    width: 100%;
    background-image: url('images/main-img.png');
    border-bottom: 1px solid red;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about-container {
    height: 500px;
    width: 100%;
    background-image: url('images/about-img.png');
    border-bottom: 1px solid red;
}

.about {
    float: right;
    width: 440px;
    margin-top: 70px;
}

.title-about h1 {
    font-family: var(--oswald);
    font-size: 75px;
    font-weight: 700;
    line-height: 90px;
    color: var(--white);
    text-shadow: 4px 4px 0px var(--shadow);
}

.text-about p {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    font-family: var(--oswald);
    color: var(--white);
    border-top: 1px solid var(--white);
}

.details {
    border: none;
    display: block;
    margin: 0 auto;
    clip-path: polygon(5% 0, 100% 0, 100% 80%, 95% 100%, 0 100%, 0 25%);
    width: 300px;
    height: 60px;
    padding-left: 103px;
    padding-right: 103px;
    font-weight: 700;
    line-height: 39px;
    font-size: 26px;
    font-family: var(--oswald);
    transition: transform 0.3s ease-in-out;
}

.details:hover {
    transform: scale(1.2);
    background-color: rgb(221, 220, 220);
}

.cards-container {
    background-size: cover;
    background-image: url('images/backgorund-cards.png');
    border-bottom: 1px solid red;
}

.cards {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 90px;
}

.cards h3 {
    margin-top: 90px;
    margin-bottom: 30px;
    text-align: center;
    text-shadow: 4px 4px 0px #754E71;
    font-family: var(--oswald);
    font-size: 75px;
    font-weight: 700;
    line-height: 90px;
    color: var(--white);
}

.cards ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.cards ul li {
    position: relative;
}

.cards img {
    width: 300px;
    height: 600px;
    box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.75);
    object-fit: cover;
}

.cards figcaption {
    position: absolute;
    bottom: 0;
    z-index: 2;
    width: 100%;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color: var(--white);
    font-family: var(--oswald);
    display: none;
}

.cards li:hover figcaption {
    display: block;
}

.cards li {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.cards li:nth-of-type(1):hover {
    background-color: var(--grey);
    box-shadow: 0 0 10px black, 25px 25px 50px var(--grey);
    transform: scale(1) rotate(-2deg);
}

.cards li:nth-of-type(2):hover {
    background-color: var(--light-blue);
    box-shadow: 0 0 10px black, 25px 25px 50px var(--light-blue);
    transform: scale(1) rotate(2deg);
}

.cards li:nth-of-type(3):hover {
    background-color: var(--light-blue2);
    box-shadow: 0 0 10px black, 25px 25px 50px var(--light-blue2);
    transform: scale(1) rotate(-2deg);
}

.cards li:nth-of-type(4):hover {
    background-color: var(--grey);
    box-shadow: 0 0 10px black, 25px 25px 50px var(--grey);
    transform: scale(1) rotate(2deg);
}

.cards li:nth-of-type(5):hover {
    background-color: var(--light-green);
    box-shadow: 0 0 10px black, 25px 25px 50px var(--light-green);
    transform: scale(1) rotate(-2deg);
}

.cards li:nth-of-type(6):hover {
    background-color: var(--dark-pink);
    box-shadow: 0 0 10px black, 25px 25px 50px var(--dark-pink);
    transform: scale(1) rotate(2deg);
}

.cards li:nth-of-type(7):hover {
    background-color: var(--dark-yellow);
    box-shadow: 0 0 10px black, 25px 25px 50px var(--dark-yellow);
    transform: scale(1) rotate(-2deg);
}

.cards li:nth-of-type(8):hover {
    background-color: var(--dark-yellow2);
    box-shadow: 0 0 10px black, 25px 25px 50px var(--dark-yellow2);
    transform: scale(1) rotate(2deg);
}

.container-footer {
    background-color: black;
}

.container-footer h3 {
    margin-top: 101px;
    margin-bottom: 20px;
    text-align: center;
    color: var(--white);
    text-align: center;
    text-shadow: 4px 4px 0px #754E71;
    font-family: var(--oswald);
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: 90px;
}

.fancybox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 101px;
}

.fancybox img {
    width: 400px;
    height: 224px;
    transition: transform 0.3s ease-in-out;
}

.fancybox img:hover {
    transform: scale(1.1);
}

@media (min-width: 2150px) {
    .top-container {
        height: 1285px;
    }
}

@media (max-width: 1270px) {
    .top-container {
        height: 900px;
    }
}

@media (max-width: 1060px) {
    .top-container {
        height: 600px;
    }
}

@media (max-width: 900px) {
    .top-container {
        height: 500px;
    }
}

@media (max-width: 768px) {
    .nav-container {
        border-bottom: none;
    }

    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: linear-gradient(rgba(69, 33, 138, .7), rgba(0, 0, 0, 1));
        height: 0px;
        z-index: 99999;
        transition: 0.6s;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu {
        text-align: center;
        padding: 10px;
        margin-top: -3px;
        height: 140px;
        visibility: visible;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    #menu a {
        margin-bottom: 10px;
        text-align: center;
    }

    #btn-mobile {
        display: flex;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
        padding-top: 27px;
    }

    #hamburger {
        border-top: 2px solid;
        width: 20px;
    }

    #hamburger::after,
    #hamburger::before {
        content: "";
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentcolor;
        margin-top: 5px;
        transition: 0.6s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
    }

    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}

@media (max-width: 590px) {
    .top-container {
        height: 400px;
    }
}

@media (max-width: 470px) {
    .about-container {
        height: 400px;
    }

    .about {
        float: none;
        padding-left: 2px;
        padding-right: 2px;
    }

    .title-about h1 {
        font-size: 60px;
    }

    .text-about p {
        font-size: 15px;
        line-height: 25px;
    }

    .details {
        width: 200px;
        height: 50px;
        padding: 0;
        font-size: 20px;
    }

    .about {
        width: 100%;
    }

    .cards h3 {
        font-size: 50px;
    }

    .fancybox img {
        width: 230px;
        height: auto;
    }

    .cards img {
        width: 100%;
        height: 450px;
    }

    .cards ul{
        padding: 0;
    }
}

@media (max-width: 425px) {
    .top-container {
        height: 300px;
    }
}